* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------------------------------body*------------------------------------------------*/

body {
    min-height: 100vh;
    width: 100%;
    background-image: url("../images/fondo.jpg");
    
}

/* -------------------------------------------------nav------------------------------------------ */
nav{
    background-image: linear-gradient(190deg, #92b3a9 0, #83ada4 10%, #70a69f 20%, #5b9f9b 30%, #409697 40%, #0e8d94 50%, #008492 60%, #007b91 70%, #007292 80%, #006a93 90%, #006394 100%);

}

.logo_{
    margin-left: 2rem;
    width: 100px;
    height: 100px;
}

ul, li, a{
    font-size: 1.5rem;
    font-weight: 600;
}
/*----------------------------------------------header------------------------------------------- */

header {
    min-height: 10vh;
    background-image: url("../images/fondo2.jpg");
    background-size: cover;

}


/*--------------------------------------------------main------------------------------------- */

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* img de presentacion */
.img4{
    border-radius: 32px;
    border: 3px solid #3fbdce9a;
    height: 15rem;
    width: 95%;
}
/* texto */
.texto{
    background-image: linear-gradient(190deg, #92b3a9 0, #83ada4 10%, #70a69f 20%, #5b9f9b 30%, #409697 40%, #0e8d94a6 50%, #008492 60%, #007b91 70%, #007292a2 80%, #006993ad 90%, #006394ad 100%);
    margin: 5px 10%;
    border-radius: 32px;
    padding: 2rem;
}

.conten{
    background-color: #3fbdce9a;
    border-radius: 32px;
}

p{
    padding: 2px 5%;
    padding-top: 1rem;
    font-weight: 500;
    font-size: 15px;
}

.ul2{
    padding: 3px 5%;
    text-align: center;
    list-style-type: none;

}

.ul2 li{
    font-size: 18px;
}
#img{
    width: 15rem;
    border-radius: 20px;
}

/* carrusel */
.d-block{
    height: 23rem;
    width: 95%;
    padding: .5rem;
    object-fit: cover;
}

/* footer */
footer{
    background-color: #167d83;
    color: white;
}
