/*GENERAL*/

header{
    min-height: 10vh;
}

main{
    min-height: 80vh;
}

footer{
    height: 10vh;
    background-image: linear-gradient(190deg, #92b3a9 0, #83ada4 10%, #70a69f 20%, #5b9f9b 30%, #409697 40%, #0e8d94 50%, #008492 60%, #007b91 70%, #007292 80%, #006a93 90%, #006394 100%);
    color: white;
}

body{
    background-image: url("../images/fondo.jpg");
}

.logo_{
    margin-left: 2rem;
    width: 100px;
    height: 100px;
}

nav{
    height: 10vh;
    background-image: linear-gradient(190deg, #92b3a9 0, #83ada4 10%, #70a69f 20%, #5b9f9b 30%, #409697 40%, #0e8d94 50%, #008492 60%, #007b91 70%, #007292 80%, #006a93 90%, #006394 100%);
}

ul, li, a{
    font-size: 20px;
    font-weight: 600;
}
.carrito{
    width: 40px;
    height: 30px;
    margin-left: -8px; 
    margin-top: -3px;
    padding: 2px;
}

.icon-social{
    width: 30px;
}

/*-------------------*/

/*FARMACIA Y JUGUETES*/

.card-title{
    font-size: 18px;
}

.search{
    height: 35px;
    width: 800px;
    font-size: 16px;
    padding: 1rem;
}

.btn-search{
    width: 35px;
    height: 35px;
    margin-left: 5px;
    background-color: #1ca3aa;
}

.bi-search{
    width: 20px !important;
    height: 20px !important;
    margin-top: -5px;
    margin-left: -2px;
}

.btn-carrito{
    width: 45px;
    height: 40px;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.30);
    background-image: url(../images/carrito.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
}

.btn-details{
    width: 100px;
    height: 40px;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.30);
    font-weight: 700;
    background-color: rgb(241, 152, 19);
}

.img_cards{
    height: 250px;
    object-fit: cover;
}

.card {
    background-image: linear-gradient(190deg, #92b3a9 0, #83ada4 10%, #70a69f 20%, #5b9f9b 30%, #409697 40%, #0e8d94 50%, #008492 60%, #007b91 70%, #007292 80%, #006a93 90%, #006394 100%);
    margin: 40px !important;
    padding: 0.5rem;
}

p{
    padding-left: 1rem;
    margin-top: 8px;
    font-size: 20px;
    font-weight: 500;
}

/*-------------------*/

/*CONTACTO*/

.formYMapa{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedorForm{
    width: 520px;
    margin-top: 10px;
    display: flex;
}

.parrafoForm{
    font-size: 1.3rem;
    font-weight: 600;
}

.tituloForm,
.parrafoForm{
    color: #fff;
    text-align: center;
}

.contenedorForm .avatar{
    height: 130px;
    width: 130px;
    border-radius: 25px;
}

form{
    padding: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.75);
    background-image: linear-gradient(190deg, #92b3a9 0, #83ada4 10%, #70a69f 20%, #5b9f9b 30%, #409697 40%, #0e8d94 50%, #008492 60%, #007b91 70%, #007292 80%, #006a93 90%, #006394 100%);
}

.inputs,
.textarea,
select{
    padding: .3rem;
    margin: 5px;
    width: 210px;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: none;
}

.textarea{
    margin-left: 5rem;
    height: 10rem;
    width: 300px;
}

select{
    margin-top: 20px;
}

.inputs{
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: start;
}

.inputs:focus,
.textarea:focus{
    outline: 1px solid rgba(0,0,0,0.7);
}

.botonForm{
    padding: .4rem;
    margin-top: 3.5rem;
    width: 100px;
    border-radius: 10px;
    float: right;
    border: 1px solid #0e8d94;
    background-color: #b4d0db;
    margin-right: 6.5rem;
}

.botonForm:hover{
    color: #fff;
    background-color: #0e8d94;
}

#textoForm{
    padding: 8px;
    margin: 5px;
    font-size: 1.25rem;
    text-align: center;
    border-radius: 30px;
    color: #fff;
}

.local{
    height: 600px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.75);
    background-image: linear-gradient(190deg, #92b3a9 0, #83ada4 10%, #70a69f 20%, #5b9f9b 30%, #409697 40%, #0e8d94 50%, #008492 60%, #007b91 70%, #007292 80%, #006a93 90%, #006394 100%);
}

.contenedorMapa h2{
    text-align: center;
}

iframe{
    height: 20rem;
    width: 30rem;
    border-radius: 15px;
}

.huellas{
    margin-top: 2px;
    margin-left: 1rem;
    height: 50px;
}

/*-------------------*/

/*DETALLES*/

.contain-details{
width: 1200px;
background-color: #434d531c;
}

.card-details{
    background-color: #e9d6589a;
    height: 350px;
    width: 1200px;
}

.event{
    margin-left: 2.5rem;
    height: 350px;
    background-color: #e9d6589a;
}

.event:hover{
    transform: scale(1.1);
}

/*-------------------*/

/*INICIO*/

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img4{
    margin-top: 2rem;
    border-radius: 15px;
    border: 3px ridge #3fbdce9a;
    height: 20rem;
    width: 50rem;
}

.texto{
    background-image: linear-gradient(190deg, #92b3a9 0, #83ada4 10%, #70a69f 20%, #5b9f9b 30%, #409697 40%, #0e8d94a6 50%, #008492 60%, #007b91 70%, #007292a2 80%, #006993ad 90%, #006394ad 100%);
    margin: 5px 10%;
    border-radius: 25px;
    padding: 2rem;
}

.conten{
    background-color: #3fbdce9a;
    border-radius: 20px;
}

.card-text{
    padding: 2px 5%;
    padding-top: 1rem;
    font-weight: 400;
    font-size: 20px;
}

.ul2{
    padding: 3px 5%;
    text-align: center;
    list-style-type: none;
}

.ul2 li{
    font-size: 23px;
}

#img_{
    width: 30rem;
}

.volverArriba{
    height: 50px;
    width: 200px;
}

.huellitas{
    margin-left: 1rem;
    height: 30px;
}

.d-block{
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

/*-------------------*/

/*TIENDA*/
.main-shop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.total_carrito{
    background-color: rgba(228, 222, 222, 0.637);
    font-size: 16px;
}

.compra{
    width: 350px;
    height: 50px;
    background-image: linear-gradient(190deg, #b1b392 0, #aaad83 10%, #a6a570 20%, #9f9b5b 30%, #978a40 40%, #947b0e 50%, #927000 60%, #918300 70%, #928400 80%, #937800 90%, #947e00 100%);
    font-weight: 400;
    font-size: 20px;
}

.btn-carrito-vacio{
    width: 50px;
    height: 40px;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.30);
    background-image: url(../images/carrito_vacio.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
}

/*-------------------*/

@media screen and (min-width:320px) and (max-width:768px){
    header{
        height: 20vh;
    }
    
    main{
        min-height: 80vh;
    }
    
    footer{
        height: 8vh;
        flex-direction: column !important;
    }    

    /* iconos{
        
    } */
    
    .logo_{
        margin-left: 2rem;
        width: 100px;
        height: 100px;
    }

    .phone-header{
        flex-direction: column !important;
        align-items: center;
        margin: 0 !important;
    }

    .phone-header nav{
        flex-wrap: wrap;
        justify-content: center;
    }

    .phone-nav{
        margin: 10px !important;
        font-size: 14px;
        height: 24px;
    }

    #h1{
        font-size: 25px !important;
        margin-left: -40px;
    }

    #h1_2{
        margin-top: 5px;
        font-size: 20px !important;
        margin-left: -90px;
    }

    #h1_3{
        margin-top: 5px;
        font-size: 20px !important;
        margin-left: -60px;
    }
    #h1_4{
        margin-top: 5px;
        font-size: 20px !important;
        margin-left: -50px;
    }

    #h1_5{
        margin-top: 5px;
        font-size: 25px !important;
        margin-left: -40px;
    }

    .phone-icon{
        width: 15px;
    }

    .phone-search{
        flex-direction: column-reverse !important;
        justify-content: center !important;
        align-items: center;
    }
    .font{
        margin: 0 !important;
        margin-right: 6px !important;
        margin-left:2px !important;        
        font-size: 14px;
        margin-bottom: 11px !important;
    }

    .phone-category{
        margin-top: 5px;
        justify-content: center !important;
        align-items: center !important;
        flex-wrap: wrap;
        margin-left:3px !important;
    }

    .check{
        margin-bottom: 10px;
        height: 12px;
        flex-wrap: wrap;
    }

    .phone-content-card{
        flex-direction: column;
        align-items: center;
        font-size: 14px;
    }

    .card{
        margin-bottom: 15px;
    }

    .icon-social{
        margin: 0 !important;
        margin-right: 5px !important;
    }

    .phone-cohort{
        margin: 0 !important;
    }

    .form_contact{
        width: 250px;
    }

    .phone-submit{
        margin-top: 10px;
    }

    table{
        font-size: 14px;
    }

    .content-details{
        flex-direction: column !important;
    }

    .event{
        width: 300px;
        height: 250px;
    }

    .card-details{
        width: 300px;
        height: 350px;
        margin: 0 !important;
        margin-top: 10px !important;
        margin-bottom: 15px !important;
        font-size: 14px;
    }

    .search{
        width: 200px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    header{
        height: 30vh;
    }
    
    main{
        min-height: 62vh;
    }
    
    footer{
        height: 8vh;
    }  
    .logo_{
        margin-left: 2;
        width: 100px;
        height: 100px;
    }

    .phone-header{
        flex-direction: column !important;
        align-items: center;
        margin: 0 !important;
    }

    .phone-header nav{
        flex-wrap: wrap;
        justify-content: center;
    }

    .phone-nav{
        margin: 0 !important;
        font-size: 14px;
        height: 24px;
        margin-right: 20px !important;
        margin-bottom: 10px !important;

    }

    #h1{
        margin-left: -90px;
    }

    .phone-icon{
        width: 15px;
    }

    .search{
        height: 30px;
        width: 500px;
    }

    .btn-search{
        height: 30px;
        width: 30px;
    }
    
    .bi-search{
        margin-top: 0 !important;
        margin-bottom: 5px;
        margin-left: -1.5px !important;
    }

    .phone-search{
        flex-direction: column-reverse !important;
        justify-content: center !important;
        align-items: center;
    }
    .font{
        margin: 0 !important;
        margin-right: 29px !important;
        margin-left:2px !important;        
        font-size: 14px;
    }

    .phone-category{
        margin-top: 15px;
        justify-content: center !important;
        align-items: center !important;
        flex-wrap: wrap;
        padding-left:55px !important;
        padding-right: 55px !important;
    }

    .phone-content-card{
        flex-direction: column;
        align-items: center;
        font-size: 16px;
    }

    .card{
        margin-bottom: 15px;
        width: 500px !important;
        height: 500px !important;
    }

    .img_cards{
        height: 300px;
    }

    .event{
        width: 350px;
        height: 350px;
    }

    .card-details{
        width: 400px !important;
        height: 350px !important;
        margin-top: 100px !important;
        margin-bottom: 100px !important;
        font-size: 16px !important;
    }
}
  