*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/assets/imagen/fondo.jpeg);
}
/* HEADER */
header{
    height: 10vh;
}

nav{
    background-color: #0e8d94;
}

ul, li, a{
    font-size: 1.5rem;
    font-weight: 600;
}


.logo_{
    margin-left: 2rem;
    width: 50px;
    height: 50px;
}

/* MAIN */
main{
    min-height: 80vh;
}

.formYMapa{
    display: flex;
    align-items: center;
}

.contenedorForm{
    width: 500px;
    margin: auto;
    margin-top: 10px;
    display: flex;
}
/* ----------------------------------------- */
/* FORMULARIO */
.parrafoForm{
    font-size: 1.3rem;
    font-weight: 600;
}

.tituloForm,
.parrafoForm{
    color: #fff;
    text-align: center;
}

.contenedorForm .avatar{
    height: 130px;
    width: 130px;
    border-radius: 25px;
}

form{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.75);
    background-image: linear-gradient(190deg, #92b3a9 0, #83ada4 10%, #70a69f 20%, #5b9f9b 30%, #409697 40%, #0e8d94 50%, #008492 60%, #007b91 70%, #007292 80%, #006a93 90%, #006394 100%);
}
/* ----------------------------------------- */
/* INPUTS */
.labels,
.inputs,
.textarea,
select{
    padding: .3rem;
    width: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: none;
}

select{
    margin-top: 10px;
}

.labels:focus,
.inputs:focus,
.textarea:focus{
    outline: 1px solid rgba(0,0,0,0.7);
}


.botonForm{
    padding: .4rem;
    margin-bottom: 10px;
    width: 70px;
    border-radius: 30px;
    float: right;
    border: 1px solid #0e8d94;
    color: #0e8d94;
}

.botonForm:hover{
    color: #fff;
    background-color: #0e8d94;
}

#textoForm{
    padding: 8px;
    margin: 5px;
    font-size: 1.25rem;
    text-align: center;
    border-radius: 30px;
    color: #fff;
    background-image: linear-gradient(190deg, #92b3a9 0, #83ada4 10%, #70a69f 20%, #5b9f9b 30%, #409697 40%, #0e8d94 50%, #008492 60%, #007b91 70%, #007292 80%, #006a93 90%, #006394 100%);
}

iframe{
    height: 20rem;
    width: 35rem;
}
/* FOOTER */
footer{
    min-height: 10vh;
    color: white;
    background-color: #167d83;
}

.icon-social{
    width: 30px;
}



@media only screen and (max-width:912px){
    .formYMapa{
       flex-direction: column;
    }

    .contenedorForm{
        width: 320px;
    }
    
    footer{

    }
    footer div{
        display: flex;
        flex-direction: row !important;
    }

    .ms-5{
        margin-left: 0rem !important;
    }

    .me-5{
        margin-left: 0rem !important;
    }

    
}

@media only screen and (max-width:570px){
   iframe{
    width: 20rem;
   }
}

@media only screen and (max-width:410px){
    footer div{
        display: flex;
        flex-direction: column !important;
    }
}